#navigator {
  .me {
    margin: 20px 30px;
    color: whitesmoke;
    font-size: 20px;
  }

  .collapsed-icon {
    margin: 20px 15px;
    .icon {
      color: orange;
      font-weight: bold;
      font-size: 30px;
    }
  }

  .expanded-icon {
    margin: 30px 12px;
    .icon {
      color: orange;
      font-weight: bold;
      font-size: 60px;
    }
  }
}