#list {
  margin: 50px;
  .add-button {
    background-color: #777777;
    width: 35px;
    height: 35px;
    font-size: 16px;
    color: #cccccc;
    font-weight: bold;
  }

}

// antd 里的 Modal 属于一个独立的DOM，因此样式要写在外面
.my-form-item {
  margin: 10px;
  .urgency1 {
    span {
      color: #6bec3b;
    }
  }
  .urgency2 {
    span {
      color: #37b6ce;
    }
  }
  .urgency3 {
    span {
      color: #ff9d40;
    }
  }
  .urgency4 {
    span {
      color: #f10026;
    }
  }
}
