#list {
  margin: 50px;
  .add-button {
    background-color: #777777;
    width: 35px;
    height: 35px;
    font-size: 16px;
    color: #cccccc;
    font-weight: bold;
  }
  //.timeline {
  //  background-color: white;
  //}
}

// antd 里的 Modal 属于一个独立的DOM，因此样式要写在外面
.my-form-item {
  margin: 10px;
  .urgency1 {
    span {
      color: #bdebe1;
    }
  }
  .urgency2 {
    span {
      color: #e8b863;
    }
  }
  .urgency3 {
    span {
      color: #b66586;
    }
  }
  .urgency4 {
    span {
      color: #e25a70;
    }
  }
}
